.squares-canvas {
  width: 100%;
  border: none;
  display: block;
  z-index: 0;
  position: fixed;
  inset: 0px;
  height: 100dvh;
  z-index: -1;
  opacity: 0;
  animation: 1s linear 0s fadeIn forwards;
}
