---
import "./hero.css";
---

<div class="hero">
  <div class="hero__subtitle">Salut c'est</div>
  <h1 class="hero__title">KEN MALLAR</h1>
  <div class="hero__skills">
    Dev Front-End <span>//</span> Illustrateur <span>//</span> Producteur de Spectacles
  </div>
</div>
