---
import "./container.css";

const { size, className } = Astro.props;

const classes = `container ${size ? `container--${size}` : ""} ${className ? className : ""} `;
---

<div class={classes}>
  <slot />
</div>
