---
import "./card.css";

const { id, project } = Astro.props;
---

<div class="card">
  <a href={`projects/` + id}></a>
  <div class="card__cover">
    <img src={project.cover} />
  </div>
  <div class="card__title">{project.name}</div>
</div>
