---
import "./card.css";

const { id, name, cover } = Astro.props;
---

<div class="card">
  <a href={`projects/` + id}></a>
  <div class="card__cover">
    <img src={cover} />
  </div>
  <div class="card__title">{name}</div>
</div>
