.card {
  position: relative;

  a {
    position: absolute;
    inset: 0;
  }

  .card__cover {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .card__title {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
  }
}
