---
import Header from "@components/header/header.astro";
import { frontend } from "@data/frontend.json";
import { music } from "@data/music.json";
import { shows } from "@data/shows.json";
import Section from "../section/section.astro";
import "./home.css";

const categories = [frontend, shows, music];
---

<div class="container">
  <Header />
  <main>
    {categories.map((c) => <Section title={c.title} projects={c.projects} />)}
  </main>
  <footer>Football</footer>
</div>
