---
import { frontend } from "@data/frontend.json";
import { music } from "@data/music.json";
import { shows } from "@data/shows.json";
import Section from "../section/section.astro";
import "./home.css";

const categories = [frontend, shows, music];
---

<div class="container">
  <header>
    <div class="">Logo</div>
    <div class="">Nav</div>
  </header>
  <main>
    {categories.map((c) => <Section title={c.title} projects={c.projects} />)}
  </main>
  <footer>Football</footer>
</div>
