.home {
  position: relative;
  z-index: 0;
  .home__projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (min-width: 1025px) {
      gap: 8rem;
    }
  }

  .home__project {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1984px;
    overflow: hidden;
    gap: 2vw;
    padding: 0 1.5rem;

    &:nth-child(even) {
      margin: 0 auto 0 0;

      @media (min-width: 769px) {
        .swiper-button-next,
        .swiper-button-prev {
          right: 0;
          left: auto;
        }
        .swiper-button-prev {
          right: 2rem;
        }
      }

      @media (min-width: 1025px) {
        padding: 0 1.5rem 0 0;
        flex-direction: row-reverse;
      }
    }

    @media (min-width: 769px) {
      width: 90vw;
      margin-left: auto;
    }

    @media (min-width: 1025px) {
      padding: 0 0 0 1.5rem;
      flex-direction: row;
    }
  }

  .home__project-title {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 100;
    text-transform: uppercase;

    @media (min-width: 1025px) {
      max-width: 17rem;
      font-size: 2rem;
    }
  }
}
