.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  gap: 6rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

section {
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
