---
import Container from "@components/container/container.astro";
import Footer from "@components/footer/footer.astro";
import Header from "@components/header/header.astro";
import Main from "@components/main/main.astro";
import Section from "@components/section/section.astro";
import { frontend } from "@data/frontend.json";
import { music } from "@data/music.json";
import { shows } from "@data/shows.json";

import "./home.css";

const categories = [frontend, shows, music];
---

<div class="home">
  <Container size="large">
    <Header />
    <div class="hero">
      <div class="hero__subtitle">Salut, c'est</div>
      <h1 class="hero__title">KEN MALLAR</h1>
      <div class="hero__skills">
        Dev Front-End <span>//</span> Illustrateur <span>//</span> Producteur de
        Spectacles
      </div>
    </div>
    <Main>
      <div class="sections">
        {
          categories.map((c) => (
            <Section
              category={c.category}
              title={c.title}
              projects={c.projects}
            />
          ))
        }
      </div>
    </Main>
    <Footer />
  </Container>
</div>
