.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 1rem;
  min-height: 8rem;

  @media (min-width: 769px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: nowrap;
    padding: 0;
  }

  .header__logo {
    max-width: 60px;
  }
}
