---
import Nav from "@components/nav/nav.astro";
import "./header.css";

const { hideNav } = Astro.props;
---

<header class="header">
  <a href="/"><img src="/logo.gif" class="header__logo" /></a>
  {!hideNav && <Nav />}
</header>
