.header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100rem;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 5rem;
  padding: 1rem 2rem;

  @media (min-width: 769px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: nowrap;
  }

  .header__logo {
    max-width: 4rem;
    transform: rotate(-8deg);

    @media (min-width: 769px) {
      max-width: 6rem;
    }
  }
}
