.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 5rem;
  padding: 1rem 2rem;

  @media (min-width: 769px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: nowrap;
  }

  .header__logo {
    max-width: 60px;
  }
}
