.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;

  .header__logo {
    max-width: 300px;
  }

  .header__nav {
  }
}
