.swiper {
  --swiper-theme-color: var(--highlight);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 0.5;
  --swiper-pagination-bullet-inactive-color: var(--highlight);
  --swiper-pagination-bullet-size: 0.5rem;

  width: 100%;
  height: auto;

  .swiper-pagination {
    display: flex;
    left: 2rem;
    border-radius: 25px;
    width: auto;
    bottom: 1rem;
  }
}
