.p-project {
  --project-container-max-width: 1280px;

  position: relative;
  gap: 4rem;
  position: relative;
  width: min(90vw, var(--project-container-max-width));
  margin: 0 auto;
  padding: 1rem 1rem 6rem;
  display: flex;
  flex-direction: column;
  overflow: visible;

  @media (min-width: 769px) {
    padding: 2rem 2rem 6rem;
    flex-direction: row;
  }

  .p-project__description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2rem;

    @media (min-width: 769px) {
      width: min(20vw, 520px);
      top: 2rem;
      position: sticky;
    }
  }

  .p-project__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media (min-width: 769px) {
      gap: 1.5rem;
    }

    p {
      margin: 0;
    }
  }

  .p-project__title {
    font-size: 2rem;
  }

  .p-project__pics {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2rem;
  }

  .p-project__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
  }

  .p-project__back {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateX(-50%);
    background-color: var(--highlight);
    border-radius: 50%;
    z-index: 1;

    @media (min-width: 769px) {
      top: 1rem;
      left: inherit;
      right: 1rem;
      bottom: inherit;
      width: 2.5rem;
      height: 2.5rem;
    }

    &::after,
    &::before {
      content: "";
      width: 2px;
      height: 1.5rem;
      background-color: var(--white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);

      @media (min-width: 769px) {
        height: 1rem;
      }
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
