.p-project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 2rem 0 6rem;

  .p-project__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1rem;

    @media (min-width: 769px) {
      margin-top: 4rem;
    }
  }

  .p-project__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .p-project__title {
    font-size: 2rem;
  }

  .p-project__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > * {
      width: 100%;
    }
  }

  .p-project__image {
    width: 100%;
    height: auto;
  }

  .p-project__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: 769px) {
      gap: 1.5rem;
      flex-wrap: nowrap;
    }

    p {
      margin: 0;
    }

    > div {
      width: 100%;

      @media (min-width: 480px) {
        width: 48%;
      }
      @media (min-width: 769px) {
        width: 33.33%;
      }
    }
  }

  .p-project__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
  }

  .p-project__back {
    position: relative;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    background-color: var(--highlight);
    display: inline-block;

    &::after,
    &::before {
      content: "";
      width: 1px;
      height: 1.5rem;
      background-color: var(--white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    @media (max-width: 769px) {
      position: fixed;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1.5rem;
    }
  }
}
