---
import Cards from "@components/cards/cards.astro";
import Card from "../card/card.astro";
import "./section.css";

const { category, title, projects } = Astro.props;
---

<section class="section">
  <h3 class="section__title" id={category}>{title}</h3>
  <Cards>
    {projects.map((p: any) => <Card id={p.project} project={p} />)}
  </Cards>
</section>
