.home-swiper {
  --swiper-theme-color: var(--highlight);
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-top-offset: auto;

  width: 100%;
  flex: 1;

  @media (min-width: 1025px) {
    width: 50%;
  }

  .swiper-wrapper {
    border-radius: 15px;
    padding-bottom: 2.5rem;
  }

  .swiper-slide {
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 0;
  }

  .swiper-button-next {
    left: 2rem;
  }
}
