body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  justify-content: flex-start;
  position: relative;
  background-color: var(--body-bg-color);
  color: var(--primary-color);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  * {
    box-sizing: border-box;
  }
}
