body {
  justify-content: flex-start;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: var(--background);
  color: var(--text-color);
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}
