---
import ClientRouter from "astro/components/ClientRouter.astro";
import SpaceGrid from "../fx/spaceGrid/spaceGrid";

const { className, metaTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ken Mallar • {metaTitle}</title>
    <ClientRouter />
  </head>
  <body class={className}>
    <slot />
    <SpaceGrid
      speed={0.5}
      squareSize={100}
      direction="diagonal"
      borderColor="#83288f"
      hoverFillColor=""
      client:load
    />
  </body>
</html>
