.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 769px) {
    flex-wrap: nowrap;
  }

  .nav__link {
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: var(--highlight);
    }
  }
  .nav__icon {
    height: 1.25rem;
    transition: fill 0.3s;

    &:hover {
      fill: var(--highlight);
    }
  }
}
