.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 769px) {
    flex-wrap: nowrap;
  }

  .nav__link {
    text-decoration: none;
  }
}
